<html>
<head>
   <title>login demo</title>
</head>
  <body>
    <form action='http://localhost:3003/login' method='post'>
      <input type='text' name='sid' value='name'>
      <input type='text' name='sname' value='tel'>
      <input type='submit' value='Submit'>
  </form>
  </body>
</html>